<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Sign Up</h1>
        <form method="POST">
            <label>
                Username:
                <input type="text" name="username1" required>
            </label>
            <br>
            <label>
                Password:
                <input type="password" name="password1" required>
            </label>
            <br>
            <label>
                Email:
                <input type="text" name="email" required>
            </label>
            <br>
            <button type="submit">Sign up</button>
        </form>
        <br>
        <label>
            Already have an account? <a href="{{ url_for('login') }}" class="button">Login</a>
        </label>
    </div>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
